canvas {
    border: 1px black solid;
    background-color: black;
}


/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive; /* Retro font */
    background: linear-gradient(90deg, #0f0c29, #302b63, #24243e); /* Retro gradient background */
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes popup {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.small {
    color: wheat;
}


@keyframes vibrate {
    0% { transform: translateX(-2px); }
    25% { transform: translateX(2px); }
    50% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translateX(0); }
}

.vibrate {
    animation: vibrate 0.3s ease;
}
